<h4>Following User-list</h4>
 <div id="unfollow_user">
   <%=render :partial => "user_following", :collection => @followings  %>
 </div>
 <h4>Following Cini-list</h4>
 <div id="unfollow_cini">
   <%=render :partial => "cini_following" %>
 </div>