<div class="signupContent" id="step_2">
  <div class="inner2">

    <div class="signupBreadcrumbs bg1">
      <ul class="breadcrumb1">
          <li class="inactive signup1" div-id="1"><a href="javascript:void(0);">1. SIGN UP</a></li>
          <li class="active" div-id="2"><a href="javascript:void(0);">2. STYLE</a></li>
          <li><a href="javascript:void(0);">3. PHOTO</a></li>
          <li class="last-child"><a href="javascript:void(0);">4. DETAILS</a></li>
      </ul>
    </div>              
    <h3>Thanks for Joining Cinimaker!</h3>
      <div class="accountStyleBox clearfix">
        <a href="javascript:void(0);" class="creative step" div-id="3">
          <h4>FPO</h4>
          <%= f.hidden_field :account_type_id, :value => '' %>
          <h5>CREATIVE?</h5>
          <p>Connect & Discover <br>Cinimaker’s & Cini’s</p>
        </a>
        <a href="javascript:void(0);" class="discover step" div-id="3">
          <h4>FPO</h4>
          <h5>DISCOVER?</h5>
          <p>Discover <br>Cinimaker’s & Cini’s</p>
        </a>
      </div>
        
  </div><!--inner2-->
</div>
