<div class="mPlayer">
  	<img alt="" src="/assets/player.jpg">
</div>
<div class="movieShareBox clearfix">
	<div class="pull-left">
    	<a class="btn uppercase" href="#"><i class="icon-grid"></i> SHARE</a>
    </div>
    <div class="pull-right alignRight">
    	<a data-toggle="modal" class="btn uppercase" href="#comment_overlay1"><i class="icon-grid"></i> COMMENT</a>
    </div>
</div>