	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<div class="modal-body">
		<div class="modalSlide">
			<div id="carousel_1" class="carousel slide">
				<div class="carousel-inner">
					<div class="active item">
						<img src="/assets/carousel1.png" alt="">
					</div>
					<div class="item">
						<img src="/assets/carousel1.png" alt="">
					</div>
					<div class="item">
						<img src="/assets/carousel1.png" alt="">
					</div>
				</div>
				<a class="carousel-control left" href="#carousel_1" data-slide="prev"></a>
				<a class="carousel-control right" href="#carousel_1" data-slide="next"></a>
			</div>
		</div>
		<!--modalSlide-->
		<div class="leftCommentWrap">
			<div class="commentTopBox">
				<div class="clearfix">
					<div class="user">
						<a href="#"><img src="/assets/user1.png" alt=""></a>
					</div>
					<div class="text">
						<h6>Aimes Stameron</h6>
						<p>
							<span>Behind The Scenes</span><br>
							<em>June 2, 2012</em>
						</p>
					</div>
				</div>
				<div class="bottomText">
					 Director <a href="#">Aimes Stameron</a> used the foliage of the jungles of timbucktu to base his Pandora forests off of.
				</div>
			</div>
            <!--commentTopBox-->
			<div class="bdrExtra"></div>
			<div class="commentList">
				<ul>
					<li>
					<div class="avatar">
						<a href="#"><img src="/assets/user-a1.png" alt=""></a>
					</div>
					<div class="contentBox">
						<h4>Julian Godrea</h4>
						<p>It was so Hot that day!</p>
					</div>
					</li>
					<li>
					<div class="avatar">
						<a href="#"><img src="/assets/user-a2.png" alt=""></a>
					</div>
					<div class="contentBox">
						<h4>Frank Wittle</h4>
						<p>Can’t wait to see how it comes out</p>
					</div>
					</li>
					<li>
					<div class="avatar">
						<a href="#"><img src="/assets/user-a3.png" alt=""></a>
					</div>
					<div class="contentBox">
						<h4>Megan Andrews</h4>
						<p>Beautiful shot</p>
					</div>
					</li>
					<li>
					<div class="avatar">
						<a href="#"><img src="/assets/user-a1.png" alt=""></a>
					</div>
					<div class="contentBox">
						<h4>Julian Godrea</h4>
						<p>It was so Hot that day!</p>
					</div>
					</li>
					<li>
					<div class="avatar">
						<a href="#"><img src="/assets/user-a2.png" alt=""></a>
					</div>
					<div class="contentBox">
						<h4>Frank Wittle</h4>
						<p>Can’t wait to see how it comes out</p>
					</div>
					</li>
					<li>
					<div class="avatar">
						<a href="#"><img src="/assets/user-a3.png" alt=""></a>
					</div>
					<div class="contentBox">
						<h4>Megan Andrews</h4>
						<p>Beautiful shot</p>
					</div>
					</li>
				</ul>
			</div>
			<!--commentList-->
			<div class="postCommentWrap">
				<form>
					<div class="avatar">
						<a href="#"><img src="/assets/user-a4.png" alt=""></a>
					</div>
					<div class="contentBox">
						<h4>Frank Wittle</h4>
						<textarea placeholder="Whats a day!"></textarea>
						<div style="text-align:right; padding-right:15px;">
							<button type="submit" class="btn uppercase"><i class="icon-grid"></i> POST</button>
						</div>
					</div>
				</form>
			</div>
			<!--postCommentWrap-->
		</div>
		<!--leftCommentWrap-->
	</div>
	<!--modal-body-->
