<li>
  <div class="avatar">
    <%= image_tag(user_record.user_profile_image)%>
  </div>
  <div class="textBox">
    <h4><%= get_capitalize(user_record.first_name) %> <%= get_capitalize(user_record.last_name) %></h4>
    <p>Writer.Producer</p>
  </div>
</li>
