<li>
  <div class="listVid">
    <%= image_tag(public_reel.cini_public_video_image)%>
  </div>
  <div class="vidCaption">
    <h4><%= public_reel.title %></h4>
    <p>2min 30sec</p>
  </div>
</li>
                            
<%#= link_to public_reel.title, require_show_path(public_reel.id) %>
<%#= image_tag(public_reel.video_url) unless public_reel.video.blank? %>