<li>
  <div class="avatar">
    <img src="/assets/needAvatar.jpg" alt="">
  </div>
  <div class="contentBox">
    <h4 class="title">Iron Sky</h4>
    <p>Added a new video <a href="#">Behind The Scenes: EP1 </a></p>	
    <div class="imageUpdate">
      <img src="/assets/update-image4.png" alt="">
      <img src="/assets/update-image5.png" alt="">
    </div>
  </div>
</li>
