<div class="newestMemberWrap boxshadow">
  <h1>Our Newest Members</h1>
  <ul class="newMember">
      <li>
          <div class="avatar">
              <a href="#"><img src="/assets/ciniAvatar1.png" alt="New Member-Avatar"></a>
            </div>
            <div class="text">
             <p><strong>Megan Andrews</strong><br>
              Writer.Producer<br>
  Brookyln, NY</p>
            </div>
        </li>
        <li>
          <div class="avatar">
              <a href="#"><img src="/assets/ciniAvatar3.png" alt="New Member-Avatar"></a>
            </div>
            <div class="text">
             <p><strong>Megan Andrews</strong><br>
              Writer.Producer<br>
  Brookyln, NY</p>
            </div>
        </li>
        <li>
          <div class="avatar">
              <a href="#"><img src="/assets/ciniAvatar5.png" alt="New Member-Avatar"></a>
            </div>
            <div class="text">
             <p><strong>Megan Andrews</strong><br>
              Writer.Producer<br>
  Brookyln, NY</p>
            </div>
        </li>
    </ul>
</div>