<li>
  <div class="avatar">
	  <img src="/assets/needAvatar.jpg" alt="">
  </div>
  <div class="contentBox">
	  <h4 class="title">Iron Sky</h4>
	  <p>Added a Composer <span>Vitamindevo</span></p>	
  </div>
</li>
