<div class="adminTabNav clearfix">
  <h2>Cini Settings</h2>
  <ul>
    <li class="active"><a href="#Details_tab_con" data-toggle="tab">Details</a></li>
    <li><a href="#Videos_tab_con" data-toggle="tab">Videos</a></li>
    <li><a href="#Images_tab_con" data-toggle="tab">Images</a></li>
    <li><a href="#Crew_tab_con" data-toggle="tab">Crew</a></li>
    <li><a href="#Messages_tab_con" data-toggle="tab">Messages</a></li>
    <li><a href="#Updates_tab_con" data-toggle="tab">Updates</a></li>
    <li><a href="#Needs_tab_con" data-toggle="tab">Needs</a></li>
  </ul>
</div>

