<div class="ciniPageHeader boxshadow">
  <div class="headerTitleBox1">
    <h2><%= @cini.title %></h2>
    <p><%#= @cini.title %>Horror.Comedy<br>
    <%= @cini.location %><br>
    Followers: <strong><%= @cini.cini_followers.count %></strong></p>
  </div>
  <div class="headerTitleBox2">
    <p><strong>Feature Film</strong><br>
    In-Concept | Treatment <br>
    19 Crew</p>
  </div>
  <div class="headerTitleBox3">
    <% followed_status = current_user.is_followed?(@cini.id) ? "UNFOLLOW" : "FOLLOWING" %>
    <%= link_to followed_status, current_user.return_followed_path(@cini.id), :method => :get, :class => "btn btngrey uppercase2" %>
    <a class="btn uppercase" href="javascript:void(0);"><i class="icon-message"></i> MESSAGE</a>
    <a class="btn uppercase" href="javascript:void(0);"><i class="icon-share"></i> SHARE</a>
  </div>
</div>