<footer class="footerWrap">
<div class="footerContainer clearfix">
	<div class="footerCreative">
		<div class="footerLogo">
			<a title="" href="#"><img alt="" src="/assets/logo-footer.png"></a>
			<h5>A CREATIVE NETWORK FOR THE MOTION PICTURE INDUSTRY.</h5>
		</div>
		<div class="companyNav">
			<ul>
				<li><a href="#">ABOUT OUR COMPANY</a></li>
				<li><a href="#">CINIBLOG</a></li>
				<li><a href="#">PRESS</a></li>
				<li class="noImage"><a href="#">CAREERS</a></li>
			</ul>
		</div>
	</div>
	<div class="footerCol clearfix">
		<div class="col_1">
			<h3>UPGRADES</h3>
			<a href="#">Cinimaker Free</a>
			<a href="#">Cinimaker Plus</a>
			<a href="#">Cinimaker Studio</a>
		</div>
		<div class="col_2">
			<h3>FEATURED</h3>
			<a href="#">Tutorials</a>
			<a href="#">Legends</a>
			<a href="#">Competitions</a>
		</div>
		<div class="col_3">
			<h3>CINIVISION NETWORK</h3>
			<a href="#">Cinimaker</a>
			<a href="#">Cinimeo</a>
			<a href="#">Cinivision</a>
		</div>
		<div class="col_4">
			<h3>SOCIAL</h3>
			<a title="Facebook" href="#"><img alt="Facebook" src="/assets/facebookIcon.png"></a>
			<a title="Twitter" href="#"><img alt="Twitter" src="/assets/twitterIcon.png"></a>
		</div>
	</div>
</div><!--footerContainer-->

<div class="footerBottom">
	<div class="footerContainer">
    	<div class="footerbottomNav clearfix">
        	<ul>
            	<li><a href="#">Privacy</a></li>
                <li><a href="#">Help &amp; FAQ</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Advertise</a></li>
                <li class="noImage"><a href="#">Facts &amp; Figures</a></li>
            </ul>
        </div>
        <p>All member work copyright of respective owner, otherwise &copy; 2012 <a href="#">Cinivision Network</a></p>
	</div><!--footerContainer-->
</div><!--footerTop-->

</footer>