<header class="topBar">
	<div class="siteLogo">
		<a title="Cinimaker" href="#"><img alt="Cinimaker" src="/assets/logo-cinimaker.png"></a>
	</div>

  <div class="signIn_signUp">
   	<a class="btn uppercase2 btnBrown darkText" href= "<%= new_user_registration_path %>">SIGN UP</a>
    <%= render :partial => 'layouts/signin_popup'%> 
  </div><!--signIn_signUp-->
</header>
