        <div class="subNavOne animated fadeInDown" style="display: none;">
                      <div class="subIn-findCinimakers subNavText">
                          <h5> <%= link_to "Find Cinimakers", '/cinimakers' %></h5>
                          <p>Connect to other independent filmmakers and actors.</p>
                      </div>
                      <div class="subIn-ciniAndYou subNavText">
                          <h5><a href="/cinis"><span class="brown">Cini’s and You</span></a></h5>
                          <p>Find a project that is looking for your great talents.</p>
                      </div>
                      <div class="subIn-browseCini subNavText">
                          <h5><a href="#">Browse Cini’s</a></h5>
                          <p>Take a look at projects that other Cinimakers are
  turning into reality.</p>
                      </div>
                  </div><!--subNavOne-->
