         <div class="subNavTwo animated fadeInDown fadeOutUp" style="display: none;">
                	<div class="subIn-creatcini subNavText">
                    	<h5><%= link_to 'Create a Cini', new_user_cini_path%></h5>
                        <p>Come together with other Cinimakers to develop projects.</p>
                    </div>
                    <div class="subIn-managecini subNavText">
                    	<h5><%= link_to '<span class="brown">Manage Cini’s</span>'.html_safe, user_cinis_path %></h5>
                        <p>Manage the Cini’s you have already created.</p>
                    </div>
                    <div class="subIn-tutorial subNavText">
                    	<h5><a href="#">Tutorials</a></h5>
                        <p>Learn how to make great Cini’s.</p>
                    </div>
                </div><!--subNavTwo-->
