<header class="topBar">
	<div class="siteLogo">
		<a title="Cinimaker" href="#"><img alt="Cinimaker" src="/assets/logo-cinimaker.png"></a>
	</div>
	<div class="mainNavWrap">
		<ul class="mainNav">
			<li id="call_subNav1" class="">
			   <a href="#">+Connect</a>
			</li>
			<li id="call_subNav2" class="">
			<span class="navNotification">6</span>
			   <a href="#">+Create</a>
			</li>
			<li id="call_subNav3" class="">
			<span class="navNotification">23</span>
			   <a href="#">+Me</a>
			</li>
		</ul>
<%= render :partial => '/layouts/sub_nav_one'%><br/>
  <%= render :partial => '/layouts/sub_nav_two'%><br/>
  <%= render :partial => '/layouts/sub_nav_three'%><br/>


	</div>
	<!--mainNavWrap-->
	<div class="headerSearch">
		<form action="#" method="post" name="headSearch">
			<input type="text" id="autosuggest" placeholder="search" name="">
			<input type="submit" value="">
		</form>
	</div>
	</header>
