		<div class="adminTabNav clearfix">
			<h2>My Settings</h2>
			<ul>
				<li class="active"><a href="#Profile_tab_con" data-toggle="tab">PROFILE</a></li>
				<li><a href="#Reels_tab_con" data-toggle="tab">REELS</a></li>
				<li><a href="#Images_tab_con" data-toggle="tab">Images</a></li>
				<li><a href="#Credits_tab_con" data-toggle="tab">CREDITS</a></li>
				<li><a href="#Account_tab_con" data-toggle="tab">ACCOUNT</a></li>
				<li><a href="#Privacy_tab_con" data-toggle="tab">PRIVACY</a></li>
			</ul>
		</div>
