
			<div class="adminLeftContent">
            	<div class="ciniStatus">
                	<h2>ACCOUNT STATUS</h2>
                </div>
                <div class="accountType">
                	<h3>FREEMIUM</h3>
                    <p>IMAGES <span>(7/10)</span></p>
                    <p>GALLERIES <span>(1/2)</span></p>
                    <p>VIDEO <span>(1min/2min)</span></p>
                    <p>CINIMAIL <span>(2/5)</span></p>
                    <p>CINIS CREATED <span>(1/1)</span></p>
                    <p>CINI APPS TODAY <span>(1/5)</span></p>
                </div>
                <div class="lastblock alignCenter">
                	<button class="btn btnBrown uppercase">
                    <i class="icon-publish"></i> UPGRADE
                    </button>
                </div>
			</div>
			<!--adminLeftContent-->
