<li>
	<div class="avatar">
    <img src="/assets/user-a3.png" alt="">
    </div>
    <div class="text">
    	<h4>Megan Andrews</h4>
        <h5>Writer.Producer</h5>
        <p>“was a great person to work with cause they smelled like...</p>
    </div>
</li>
<li>
	<div class="avatar">
    <img src="/assets/user-a1.png" alt="">
    </div>
    <div class="text">
    	<h4>Julian Godrea</h4>
        <h5>Writer.Producer</h5>
        <p>“Always was on time, despite his caffiene addiction...</p>
    </div>
</li>
<li>
	<div class="avatar">
    <img src="/assets/user-a2.png" alt="">
    </div>
    <div class="text">
    	<h4>Frank Wittle</h4>
        <h5>Art Director</h5>
        <p>“had an eye like a hawk, and kerned
like there was no tomorrow!...</p>
    </div>
</li>